{% load static %}
<html>
<head>
	<title> Assignment </title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	<link rel="stylesheet" href={%static%}"css/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
	<script src={%static%}"script/mainscript.js"></script>
</head>
<header> <ul style='float:left;display:inline-block;'><li>FOSSEE Summer Fellowship Assignment, Spoken Tutorial Web Development</li></ul> </header>
<body>
	<div>
		
	</div>
</body>
<footer>
	<div></div>
</footer>
</html>