{% load static %}
{%load mathfilters%}
<html>
<head>
	<title> Assignment </title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){$('.dropdown-trigger').dropdown()});
		function mapMonth(txt)
		{
			switch(txt)
			{
				case 1: return "January";
				case 2: return "February";
				case 3: return "March";
				case 4: return "April";
				case 5: return "May";
				case 6: return "June";
				case 7: return "July";
				case 8: return "August";
				case 9: return "September";
				case 10: return "October";
				case 11: return "November";
				case 12: return "December";
			}
		}
		var b="";
		var year=0,mnth=0;
		function dismissErr()
		{
			$("#err").css('height','0')
		}
	function jsPost(path, parameters) 
	{
    	var form = $('#pl');

    	form.attr("method", "post");
    	form.attr("action", path);

    	$.each(parameters, function(key, value) {
	        var field = $('<input></input>');

        	field.attr("type", "hidden");
    	    field.attr("name", key);
	        field.attr("value", value);

        	form.append(field);
    	});

    	// The form needs to be a part of the document in
    	// order for us to be able to submit it.
    	form.submit();
	}
		function post()
		{
			if((b.indexOf("12")!=-1)||(b.indexOf("21")!=-1))
			{
				b="";
				jsPost('/',{'month':mnth,'yr':year});
			}
		}
		function getMonth(obj)
		{
			$(monthDropDown).text(mapMonth(parseInt($(obj).text())));
			b+="1";
			mnth=parseInt($(obj).text());
			post();
		}
		function getYear(obj)
		{
			$(yearDropDown).text($(obj).text());
			b+="2";
			year=parseInt($(obj).text());
			post();
		}
	</script>
	<style type='text/css'>
		@media screen and (max-width: 450px)
		{
			#nav{
				height:110px;
			}
		}
	</style>
</head>
<div class="navbar">
	<nav class='blue darken-2' id="nav"> 
		<div class='nav-wrapper lighten-2 valign-wrapper' style='margin:0% 2%;'>
			<div style='color:white;height:100%;text-align: center;font-size:23px;' valign='center'>FOSSEE Summer Fellowship Assignment</div>
		</div> 
	</nav>
</div>
<body>
	{% if err %}

{% endif %}
	<div style='margin:0% 2%'>
		<div class="section">
			<div>
				<h5>Select Month - Year </h5>
				<div style='float:left;margin-right: 5px;'><a href="#" id="monthDropDown" class="btn dropdown-trigger" data-target="monthList"> {%if month %} {{ month }} {%else%} Month {%endif%}</a></div>

				<div style="float:left; margin-left: 5px;"><a href="#" id="yearDropDown" class="btn dropdown-trigger" data-target="yearList">{%if year %} {{ year }} {%else%} Year {%endif%}</a></div>
			</div>

			<br><br><br>
			<h5>Tally Submission Date</h5><br>
			<ul id="monthList" class='dropdown-content'>
				<li><a href="#" onclick="getMonth(this)">1</a></li>
				<li><a href="#" onclick="getMonth(this)">2</a></li>
				<li><a href="#" onclick="getMonth(this)">3</a></li>
				<li><a href="#" onclick="getMonth(this)">4</a></li>
				<li><a href="#" onclick="getMonth(this)">5</a></li>
				<li><a href="#" onclick="getMonth(this)">6</a></li>
				<li><a href="#" onclick="getMonth(this)">7</a></li>
				<li><a href="#" onclick="getMonth(this)">8</a></li>
				<li><a href="#" onclick="getMonth(this)">9</a></li>
				<li><a href="#" onclick="getMonth(this)">10</a></li>
				<li><a href="#" onclick="getMonth(this)">11</a></li>
				<li><a href="#" onclick="getMonth(this)">12</a></li>
			</ul>
			<ul id="yearList" class='dropdown-content'>
				<li><a href="#" onclick="getYear(this)">2000</a></li>
				<li><a href="#" onclick="getYear(this)">2001</a></li>
				<li><a href="#" onclick="getYear(this)">2002</a></li>
				<li><a href="#" onclick="getYear(this)">2003</a></li>
				<li><a href="#" onclick="getYear(this)">2004</a></li>
				<li><a href="#" onclick="getYear(this)">2005</a></li>
				<li><a href="#" onclick="getYear(this)">2006</a></li>
				<li><a href="#" onclick="getYear(this)">2007</a></li>
				<li><a href="#" onclick="getYear(this)">2008</a></li>
				<li><a href="#" onclick="getYear(this)">2009</a></li>
				<li><a href="#" onclick="getYear(this)">2010</a></li>
				<li><a href="#" onclick="getYear(this)">2011</a></li>
				<li><a href="#" onclick="getYear(this)">2012</a></li>
				<li><a href="#" onclick="getYear(this)">2013</a></li>
				<li><a href="#" onclick="getYear(this)">2014</a></li>
				<li><a href="#" onclick="getYear(this)">2015</a></li>
				<li><a href="#" onclick="getYear(this)">2016</a></li>
				<li><a href="#" onclick="getYear(this)">2017</a></li>
				<li><a href="#" onclick="getYear(this)">2018</a></li>
				<li><a href="#" onclick="getYear(this)">2019</a></li>
				<li><a href="#" onclick="getYear(this)">2020</a></li>
				<li><a href="#" onclick="getYear(this)">2021</a></li>
				<li><a href="#" onclick="getYear(this)">2022</a></li>
				<li><a href="#" onclick="getYear(this)">2023</a></li>
				<li><a href="#" onclick="getYear(this)">2024</a></li>
				<li><a href="#" onclick="getYear(this)">2025</a></li>
			</ul>

			<br>
			<div>
			{% if dates %}
			<div class="row">
				<div class="col s3"><b>Course Name</b></div>
				<div class="col s3"><b>Expected Submission Date</b></div>
				<div class="col s3"><b>Actual Submission Date</b></div>
			</div>
				{% for obj in dates %}
				<div class="row">
					<div class="col s3">{{obj.courseName}}</div>
					<div class="col s3">{{obj.actual_date|date:"d-m-Y"}}</div>
					<div class="col s3">{{obj.expected_date|date:"d-m-Y"}}</div>
				</div>
				{% endfor %}
			{% else %}
			<h8> No Rows to Display </h8>
			{% endif %}
		</div>
		</div>
		<div class="divider"></div>
		<div class="section">
			<h5>Publisher Tutorials Count</h5><br>
			{% if foss %}
			<div class="row">
				<div class="col s3"><b>Publisher</b></div>
				<div class="col s3"><b>Publish Count</b></div>
			</div>
			{% for obj in foss %}
			<div class="row">
				<div class="col s3">{{ obj.publisher }}</div>
				<div class="col s3">{{ obj.publishCount }}</div>
			</div>
			{% endfor %}
			{%else%}
			<h8> Rows to Display </h8>
			{%endif%}
		</div>
		<div class="divider"></div>
		<div class="section">
			<h5>Total Payment Due</h5><br>
			{%if foss%}
			<div class="row">
				<div class="col s3"><b>Publisher</b></div>
				<div class="col s3"><b>Publish Count</b></div>
				<div class="col s3"> <b>=Total Payment [Rs.(Publish Count*1000)]</b></div>
			</div>
			
			{%for obj in foss%}
			<div class="row">
				<div class="col s3">{{obj.publisher}}</div>
				<div class="col s3">{{obj.publishCount}}</div>
				<div class="col s3">{{ obj.publishCount|mul:1000 }}</div>
			</div>
			{%endfor%}
			{%else%}
			<h8>No Rows to Display</h8>
			{%endif%}
		</div>
	</div>
	<form id="pl">{%csrf_token%}</form>
</body>
<footer style="height:40%;">
	<div style="color:White;"></div>
</footer>
</html>
